@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Quản trị hồ sơ của bạn</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="body-card">
                    @await Html.PartialAsync("_ManageNav")
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="body-card">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
 </div>
        @section Scripts {
            @RenderSection("Scripts", required: false)
        }
