@{
    ViewData["Title"] = "Từ chối truy cập";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <header>
                <h2 class="text-danger">@ViewData["Title"]</h2>
                <p class="text-danger">Xin lỗi, bạn không được cấp quyền truy cập tài nguyên này.</p>
            </header>
        </div>
    </div>
</div>
