@using ScrumApplication.Models.AccountViewModels
@model ScrumApplication.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "ĐĂNG KÝ TÀI KHOẢN";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
            <section>
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <h4>Tạo tài khoản mới tại đây</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName"> Nhập họ của bạn</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"> Nhập tên của bạn</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"> Nhập thư điện tử </label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"> Nhập mật khẩu </label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"> Nhập lại mật khẩu</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng ký tài khoản mới</button>
                </form>
            </section>
                </div>
                </div>
        </div>
        <div class="col-md-7 col-md-offset-2">
            <div class="card">
                <div class="card-body">
                    <section>
                        <h4>Mô hình phát triển phần mềm nhanh Scrum</h4>
                        <hr />
                        <div>
                            <p>
                                Ứng dụng có thể cung cấp cho bạn những công cụ tuyệt vời để quản trị dự án phần mềm với mô hình Scrum.
                                Xem <a href="http://vnptit.vn/">công văn thực hiện </a> áp dụng mô hình Scrum cho các dự án phần mềm của công ty tại đây.
                            </p>
                        </div>
                    </section>
                </div>
                </div>
                </div>
            </div>
        </div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
