
@{
    ViewData["Title"] = "Quản trị dự án với mô hình Scrum";
}

<div class="container">
    <div class="page-header clearfix text-center">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="/images/home/adminpanel1.jpg" alt="Administration Panel">
                <div class="card-body">
                    <h5 class="card-title">Chức năng Quản Trị</h5>
                    <p class="card-text">Quản trị Project</p>
                    <p class="card-text">Quản trị Sprint</p>
                    <p class="card-text">Quản trị Nhóm quyền và người dùng</p>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="/images/home/scrumboard1.jpg" alt="Scrum Board">
                <div class="card-body">
                    <h5 class="card-title">Bảng theo dõi mô hình Scrum</h5>
                    <p class="card-text">Theo dõi công việc bạn được giao</p>
                    <p class="card-text">Theo dõi số điểm của bạn trong tháng</p>
                    <p class="card-text">Theo dõi trạng thái các công việc được giao</p>
                </div>
             
            </div>
        </div>
    </div>
</div>